{% extends "layout.jinja" %}
{% block content %}
    <h1 class="mb-4">Blog Home</h1>
    <p>This is blog home</p>
    <p>Rendered from template</p>
    <a href="/contact">Go to contact page</a>
{% endblock content %}
